{% raw %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HSServer</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="bg-gray-100 p-2">
    <div id="app" class="mx-auto">
        <input type="text" v-model="filter" placeholder="Filter files..."
            class="mb-4 p-2 border-2 border-gray-300 rounded-md">

        <div class="bg-white shadow overflow-hidden sm:rounded-md">
            <div v-for="file in filteredFiles" :key="file.filename" class="p-4 border-b border-gray-200">
                <div class="text-lg font-bold"><a class="text-blue-900" :href="file.filename">{{ file.title }}</a></div>
                <div class="text-sm text-gray-600">
                    <p v-if="file.yt_id" class="text-blue-500"><a :href="'https://youtube.com/watch?v=' + file.yt_id">YouTube Link</a></p>
                    <p>Resolution: {{ file.resolution }}@{{ file.fps }}fps</p>
                    <p>Duration: {{ file.duration }}</p>
                    <p>Size: {{ file.filesize }}</p>
                    <p>Created: {{ file.created }}</p>
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-2"
                        @click="deleteFile(file.filename)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    new Vue({
        el: '#app',
        data: {
            files: [],
            filter: '',
            currentSort: 'name',
            currentSortDir: 'asc'
        },
        methods: {
            deleteFile: function (fileName) {
                this.files = this.files.filter(file => file.filename !== fileName);
            },
            fetchFiles: function () {
                axios.get('http://localhost:5000/api/list')
                    .then(response => {
                        this.files = response.data;
                    })
                    .catch(error => {
                        console.error('There was an error fetching the files:', error);
                    });
            }
        },
        computed: {
            filteredFiles: function () {
                let filtered = this.files.filter(file => {
                    return file.filename.toLowerCase().includes(this.filter.toLowerCase());
                });

                return filtered.sort((a, b) => {
                    let modifier = 1;
                    if (this.currentSortDir === 'desc') modifier = -1;
                    if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            }
        },
        mounted: function () {
            this.fetchFiles();
        }
    });
</script>
</body>

</html>
{% endraw %}